<div>
    <igx-tree #tree class="tree-root" selection="None" [singleBranchExpand]="true">
        <igx-tree-node *ngFor="let root of data" [expanded]="false" [data]="root">
            <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: root }"></ng-container>
            <igx-tree-node #subfolder *ngFor="let node1 of root.Children" [data]="node1">
                <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: node1 }"></ng-container>
                <igx-tree-node *ngFor="let node2 of node1.Children" [data]="node2">
                    <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: node2 }"></ng-container>
                    <igx-tree-node *ngFor="let node3 of node2.Children" [data]="node3">
                        <ng-container *ngTemplateOutlet="nodeTemplate; context: { $implicit: node3 }"></ng-container>
                    </igx-tree-node>
                </igx-tree-node>
            </igx-tree-node>
        </igx-tree-node>
    </igx-tree>
    <ng-template #nodeTemplate let-data>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div class="node">
                <igx-icon class="tree-node-icon" [name]="data.Icon"></igx-icon>
                <span class="node-title">{{ data.Name }}</span>
            </div>
            <div class="actions" fxLayoutAlign="space-between" *ngIf="data.Id === selectedNodeId">
                <button igxIconButton="outlined" igxRipple class="large">
                    <igx-icon fontSet="material" [igxTooltipTarget]="addProcessTooltip">check</igx-icon>
                    <div class="addProcessTooltip" #addProcessTooltip="tooltip" igxTooltip>
                        <div class="addProcessTooltipContent">
                           <span>Add sub-process</span>
                        </div>
                    </div>
                </button>
                <button igxIconButton="outlined" igxRipple class="large" (click)="editform.open()">
                    <igx-icon fontSet="material" [igxTooltipTarget]="editProcessTooltip">edit</igx-icon>
                    <div class="editProcessTooltip" #editProcessTooltip="tooltip" igxTooltip>
                        <div class="editProcessTooltipContent">
                           <span>Edit</span>
                        </div>
                    </div>
                </button>
                <button igxIconButton="outlined" igxRipple class="large" (click)="openProcessMap(data.Id)">
                    <igx-icon fontSet="material" [igxTooltipTarget]="mapProcessTooltip">open_with</igx-icon>
                    <div class="mapProcessTooltip" #mapProcessTooltip="tooltip" igxTooltip>
                        <div class="mapProcessTooltipContent">
                           <span>Map process</span>
                        </div>
                    </div>
                </button>
                <button igxIconButton="outlined" igxRipple class="large" (click)="showRemoveDialog(data)">
                    <igx-icon fontSet="material" [igxTooltipTarget]="removeProcessTooltip">delete</igx-icon>
                    <div class="removeProcessTooltip" #removeProcessTooltip="tooltip" igxTooltip>
                        <div class="removeProcessTooltipContent">
                           <span>Remove</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </ng-template>
</div>
<igx-dialog #editform [closeOnOutsideSelect]="true">
    <igx-dialog-title>
        <div class="dialog-container">
            <div class="dialog-title">Edit process</div>
        </div>
    </igx-dialog-title>

    <form class="editProcessForm">
        <igx-input-group>
            <label igxLabel for="nomeProcess">Process name</label>
            <input igxInput id="nomeProcess" type="text" />
        </igx-input-group>
        <igx-select>
            <label igxLabel>Have origin process?</label>
            <igx-suffix *ngIf="selected">
                <igx-icon (click)="cleanSelecion($event)">clear</igx-icon>
            </igx-suffix>
            <igx-select-item *ngFor="let item of data" [value]="item">
                {{item.Name}}
            </igx-select-item>
        </igx-select>
        <br />
        <div class="button-custom" fxLayout="row" fxLayoutAlign="space-between center">
            <span igxButton="contained" igxButtonColor="white" igxButtonBackground="#345779" igxRipple="white" (click)="uploadFile()">
                <igx-prefix>
                    <igx-icon fontSet="material" [style.color]="'white'">upload</igx-icon>
                </igx-prefix>
                Attach file
            </span>
            <span *ngIf="isUploadCompleted">Upload completed!</span>
        </div>
    </form>

    <div class="buttons-custom" igxDialogActions>
        <button igxButton="oulined" (click)="editform.close()">Cancel</button>
        <span style="margin-left: 1%;" igxButton="contained" igxButtonColor="white" igxButtonBackground="#345779" igxRipple="white" (click)="editform.close()">
            Update
        </span>
    </div>
</igx-dialog>
<igx-dialog #removeDialog title="Are you sure?"
    leftButtonLabel="Cancel"
    (leftButtonSelect)="removeDialog.close()"
    rightButtonLabel="OK"
    (rightButtonSelect)="onDialogOKSelected($event)"
    message={{removeMessage}}>
</igx-dialog>