<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Process</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Process</li>
                </ol>
            </div>
        </div>
        <div class="button-custom">
            <button igxButton="contained" igxRipple (click)="form.open()">New process</button>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <app-process-tree [data]="processTree" />
    </div>
</section>
<igx-dialog #form [closeOnOutsideSelect]="true">
    <igx-dialog-title>
        <div class="dialog-container">
            <div class="dialog-title">Add new process</div>
        </div>
    </igx-dialog-title>

    <form class="newProcessForm">
        <igx-input-group>
            <label igxLabel for="processName">Process name</label>
            <input igxInput id="processName" type="text" />
        </igx-input-group>
        <igx-select>
            <label igxLabel>Have origin process?</label>
            <igx-suffix *ngIf="selected">
                <igx-icon (click)="cleanSelection($event)">clear</igx-icon>
            </igx-suffix>
            <igx-select-item *ngFor="let item of processTree" [value]="item">
                {{item.Name}}
            </igx-select-item>
        </igx-select>
        <br />
        <div class="button-custom" fxLayout="row" fxLayoutAlign="space-between center">
            <span igxButton="contained" igxButtonColor="white" igxButtonBackground="#345779" igxRipple="white" (click)="uploadFile()">
                <igx-prefix>
                    <igx-icon fontSet="material" [style.color]="'white'">upload</igx-icon>
                </igx-prefix>
                Attach file
            </span>
            <span *ngIf="isUploadCompleted">Upload completed!</span>
        </div>
    </form>

    <div class="buttons-custom" igxDialogActions>
        <button igxButton="oulined" (click)="form.close()">Cancel</button>
        <span style="margin-left: 1%;" igxButton="contained" igxButtonColor="white" igxButtonBackground="#345779" igxRipple="white" (click)="form.close()">
            Confirm
        </span>
    </div>
</igx-dialog>