<div class="card card-outline card-primary">
    <div class="card-header text-center" fxLayout="row" fxLayoutAlign="center center">
        <a [routerLink]="['/']" class="h1">
            <pf-image src="assets/img/logo-login.png" alt="Flow Logo" class="brand-image" height="80" width="80"
                style="opacity: 0.8; vertical-align: middle;"></pf-image>
            <b>Flow</b>Minder
        </a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Enter your credentials to start the session</p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input formControlName="username" type="text" class="form-control" placeholder="Username" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Password" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <pf-button [variant]="'primary'" [loading]="isAuthLoading" (click)="loginByAuth()">
                        Enter
                    </pf-button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.login-card-body -->
</div>